@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.experience {
  scroll-snap-align: center; /* centra el contenido al dar scroll */

  &__image {
    border-radius: 1.2rem;
  }

  &__title {
    margin: 1.2rem 0;
    font-weight: 700;
  }

  &__description {
    font-size: 1.8rem;
    margin: 0;
  }
}
