@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.experiences {
  &__heading {
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 30rem);
    column-gap: 4rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    @include m.tablet {
      overflow: hidden;
      @include m.grid(3, 2rem);
    }
  }
}
